<h4 class="m-5 w-25 bg-light text-center">商品詳細</h2>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <div class="img-container">
        <%= attachment_image_tag @item, :image, format: 'jpeg' %>
      </div>
    </div>
    <div class="col-lg">
      <table class="table table-borderless">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        
      </table>
    </div>
  </div>
</div>